.l-newWalkWindow {
    position: relative;
    width: 100%;
    height: 100%;
}

.newWalkWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 500px;
    background:white;
    padding: 25px;
    max-height: 90vh;
    overflow-y: scroll;
    z-index: 10;
}

.newWalkWindow-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.newWalkWindow_close {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    font-size: 25px;
}

.newWalkWindow__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.newWalkWindow__form__section {
    text-align: center;
    margin-top: 25px;
    img {
        height: 50px;
        width: 50px;
    }
}

