.l-walksPage {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.l-walks-sidebar {
    position: relative;
    width: 45vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.l-walks-sidebar.sidebar--hidden {
    right: 45vw;
}

.l-customMap {
    position: relative;
    width: 55vw;
    height: 100vh;
    transition: .2s ease;
}

.l-customMap.customMap--fullscreen {
    width: 100vw;
}