@import "../../style/vars.scss";

.l-walksPage {
    display: flex;
    max-width: 100vw;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}

.l-walks-sidebar {
    position: relative;
    width: 40vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.l-walks-sidebar.sidebar--hidden {
    right: 40vw;
}

.l-customMap {
    position: relative;
    width: 60vw;
    height: calc(100vh - 80px);
    transition: .2s ease;
}

.l-customMap.customMap--fullscreen {
    width: 100vw;
}