@import "../../style/vars.scss";

.l-navbar {
    height: $navbar-height;
    background: #f7f7f7;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navbar-logo {
        padding-left: 25px;
    }
    .navbar-links{
        display: flex;
        align-items: center;
        padding-right: 25px;
        .navbar-avatar {
            height: 50px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}